* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  height: 100%;
}

.head-banner {
  background-image: url("assets/header-background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headname {
  font: 90px/1.1em "opensans-bold", sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 90px;
  line-height: 1.1em;
  font-family: opensans-bold, sans-serif;
  color: #fff;
  letter-spacing: -2px;
  text-align: center;
  width: 100%;
  top: 15%;
  padding: 100px 0;
}

.headtext {
  color: #a8a8a8;
  max-width: 75%;
  text-align: center;
  font: 1.9em "Open Sans", "sans-serif";
  top: 35%;
  margin: 0 auto;
}

.headtext span {
  color: #fff;
}

.button {
  font: 16px/30px "opensans-bold", sans-serif;
  background-color: #444;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  height: auto;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

hr {
  border: solid #e3e3e3;
  border-width: 1px 0 0;
  clear: both;
  margin: 11px 0 30px;
  height: 0;
}

.aboutme {
  width: 100%;
  background-color: #2B2B2B;
  height: 200px
}

.aboutmetitle {
  width: 100%;
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin: 0 0 12px 0;
}

.profile-pic {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 15px 0 0
}

.resume {
  font: 2em "opensans-bold", sans-serif;
  color: #A8A8A8;
  text-align: left;
}

.resumetitle {
  font: 1.5em 'opensans-bold', sans-serif;
  text-transform: uppercase;
  width: 40%;
  float: left;
  text-align: center;
  text-decoration: underline
}

.uni, .job {
  font: 25px/30px 'opensans-bold', sans-serif;
  width: 60%;
  float: right;
  text-align: left;
}

.course .jobtitle {
  font: 1em;
  width: 60%;
  float: right;
  text-align: left;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  width: 100%
}
