:root {
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --text: #cdd6f4;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;

  /* --fc-today-bg-color: var(--rosewater); */
  --fc-list-event-hover-bg-color: var(--overlay2);
  --fc-today-bg-color: var(--overlay1);
  --fc-page-bg-color: var(--surface0);
  --fc-highlight-color: var(--surface1);
}

.styled-table {
  border-collapse: collapse;
  border: 1px solid var(--overlay2);
  margin: 25px 0;
}

.styled-table th,
.styled-table td {
  border: 1px solid var(--overlay2);
  padding: 10px 10px;
}

.styled-table tr th {
  background-color: var(--surface0);
  text-align: left;
}

.styled-table tr:nth-child(odd) td {
  background: var(--surface1);
}

.styled-table tr:nth-child(even) td {
  background: var(--surface2);
}

body {
  background: var(--base);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.topnav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: var(--teal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--sky);
  color: black;
}

.topnav a.active {
  background-color: var(--blue);
  color: white;
}
